.button {
    border: 1px solid #e6ebf2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(248, 250, 270);
    color: #000000;
    font-size: 0.65em;
    padding: 0.25em 1em;
    font-weight: 600;
}

.email-input {
    border: 1px solid #e6ebf2;
    border-radius: 5px;
    display: inline-flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background: rgba(248, 250, 270);
    color: #000000;
    padding: 0.25em 1em;
    margin-right: 0.5em;
    font-size: 0.65em;
}

.custom-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}